#header > :first-child {
    border-top: 0 !important;
}

h1.replace {
    text-indent: -9999px;
    height: 10rem;
    background-size: contain !important;
    background: url(../../images/heading.jpg) no-repeat center;
}

div.inner {
    padding-top: 0 !important;
}